.content {
  font-family: Garamond, 'Times New Roman', Times, Georgia, serif;
}

.title a {
  text-decoration: none;
  color: inherit;
}

.title a:hover {
  text-decoration: none;
  color: inherit;
}

.header {
  margin-bottom: 12px;
  height: 100px;
}
.header .logo {
  float: left;
  margin-right: 10px;
}

.header .title h1 {
  margin-bottom: 0;
  padding-top: 8px;
}

.header .description {
  color: #6c757d;
}