.content {
  font-family: Garamond, 'Times New Roman', Times, Georgia, serif;
}

.post-header h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

.post-header h2 {
  font-size: 1.5rem;
  color: grey;
}

.container {
  max-width: 800px !important;
}

.title a {
  text-decoration: none;
  color: inherit;
}

.title a:hover {
  text-decoration: none;
  color: inherit;
}

.header {
  margin-bottom: 12px;
  margin-top: 20px;
  height: 100px;
}
.header .logo {
  float: left;
  margin-right: 10px;
}

.header .title h1 {
  margin-bottom: 0;
  padding-top: 8px;
}

.header .description {
  color: #6c757d;
}

@media (max-width: 576px) {
  .header {
    margin-bottom: 8px;
    height: 80px;
    margin-top: 15px;
  }
  .header .logo {
    float: left;
    margin-right: 6px;
  }

  .header .logo img {
    width: 80px;
    height: 80px;
  }
  
  .header .title h1 {
    margin-bottom: 0;
    padding-top: 6px;
    font-size: 2rem;
  }
  
  .header .description {
    color: #6c757d;
    font-size: 0.7rem;
  }
}

.footer {
  margin-top: 10px;
  text-align: center;
  color: grey;
}

.footer .rss {
  font-size: small;
}

.footer .mail {
  font-size: small;
}