<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <title>{{ page.title }}</title>

</head>

<body>
  <div class="container">
    <div class="header">
      <div class="title">
        <div></div>
        <div><h1><a href="/">Hank Han</a></h1></div>
      </div>
      <div class="description">
        Lorem Ipsum
      </div>
    </div>
    
    <div class="content">
  
    {{ content }}
  
    </div>
  
    <div class="footer">
    </div>
  </div>
</body>
</html>
